/*
Redwood Main CSS File
Angus Goody
27/05/2020

Overrides for Bootstrap
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


:root {

	--redwoodRed: #bb3c5b;
	--redwoodDarkRed: #9C324D;
	--redwoodGradient: linear-gradient(var(--redwoodRed),var(--redwoodDarkRed));
	--redwoodGreyDark: #575757;
	--redwoodGreyLight: #BABABA;
	--bluesteelColour: #39484c;

	--headerColour: #FFFFFF;
	--navColour: #ffffff;
	--headerTextColour: #474747;
	--backgroundColour: #F6F6F6;

	--navText: var(--redwoodGreyDark);
	--navTextHover: var(--redwoodRed);
	--navMobilePadding: 15px;

	--buttonHoverGreen: #6FD766;
	--buttonGreen: #8BC76E;

	--tooltipBackground: #424242;

	--economyColour: #52b845;
	--deluxeColour: #f5c84c;
	--relaunchColour: #00aee0;

	--defaultShadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.23);
	--defaultTransition: 0.3s;


}


html, body{
	height: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: var(--backgroundColour);
	color: slategrey;
	display: flex;
	flex-direction: column;
}

/*
------------Wrapper / Content---------
*/


/*
------------HEADER---------
 */
header{
	background-color: var(--headerColour);
	margin: 0;
}

/*
Logo at top of page
 */
#logoContainer{
	width: 60%;
	margin: 0 auto 0 auto;
	padding: 10px 0 10px 0;
	text-align: center;
}

#logoContainer img{
	width: 40%;
	max-width: 150px;
	min-width: 85px;
	height: auto;

}

/*
---------NAV BAR------
 */

.navbar{
	background-color: var(--navColour) !important;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
}

.navbar-nav > li{
	padding-left:30px;
	padding-right:30px;
}

#currentNavItem{
	color: var(--redwoodRed);
}


.navWrapper{
	width: 100%;
}


/*
---------CONTACT FORM(MOBILE)------
 */

#contactForm{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	box-shadow: var(--defaultShadow);
	margin-top: 20px;
	padding: 30px 20px 10px 20px;
	border-top: 2px solid var(--redwoodGreyDark);
	width: 80%;
	max-width: 450px;

}

/*Change all form input styles use input[type=text] to target others*/
#contactForm input[type=text],#contactForm input[type=email] , #contactForm textarea {
	margin: 10px 20px;
	font-family: "Avenir Next Medium", sans-serif;
	font-size: 1rem;
	padding: 12px 20px;
	/*Remove the styling for IOS devices*/
	-webkit-appearance: none;
	/*Border properties*/
	border: 2px solid;
	border-color: #dbdbdb;
	border-right: 3px solid var(--buttonGreen);
	-webkit-transition: border-color 0.4s ease;
	-moz-transition: border-color 0.4s ease;
	border-radius: 3px;
	color: #404040 !important;
}

/* Focus */
#contactForm input[type=text]:focus ,#contactForm input[type=email]:focus, #contactForm textarea:focus{
	border-color: #909090 !important;
	border-width: 2px !important;
	outline:0 !important;
}

/* Removed Red border for required stuff*/
#contactForm input[type=text]:required ,#contactForm input[type=email]:required, #contactForm textarea:required{
	box-shadow:none;
}

/* Removed Red border for required stuff*/
#contactForm input[type=text]:invalid, #contactForm input[type=email]:invalid, #contactForm textarea:invalid{
	border-color: #dbdbdb #ecb9b9 #dbdbdb #dbdbdb ;
}

input:required {
	box-shadow:none;
}

#contactForm textarea{
	resize: none;
	height: 10em;
}



#contactForm #submitButton{
	-webkit-appearance: none;
	background-color: var(--buttonGreen);
	border: none;
	font-family: "Avenir Next Medium", sans-serif;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 0.4rem;
	margin: 30px 20px;
	font-size: 1rem;

}

#contactForm #submitButton:hover{
	background-color: var(--buttonHoverGreen);
	cursor: pointer;
}



/*
------------PACKAGES SECTION---------
*/






/* Package Colours */
.econBackground{
	background-color: #52b845;
	background-color: var(--economyColour)!important;
}

.redwoodBackground{
	background-color: #BB3C5B;
	background-color: var(--redwoodRed)!important;
}

.deluxeBackground{
	background-color:#F5C84C ;
	background-color: var(--deluxeColour)!important;
}

.blueSteelBackground{
	background-color: #39484C;
	background-color: var(--bluesteelColour)!important;
}

.relaunchBackground{
	color: #00AEE0;
	background-color: var(--relaunchColour)!important;
}

.econCol{
	color: #52b845;
	color: var(--economyColour)!important;
}

.redwoodCol{
	color: #BB3C5B;
	color: var(--redwoodRed)!important;
}

.deluxeCol{
	color: #F5C84C;
	color: var(--deluxeColour)!important;
}





/*
------------FOOTER---------
*/
footer{
	background-color: var(--redwoodRed) !important;
	color: white !important;

}


/*
--------ERROR PAGE--------
 */

#kittyContainer{
	width: 90%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

/*
===========MEDIA QUERIES============
 */

/* Minimum screen size to view Tables */
@media screen and (min-width: 300px) {


}


/* Wide phone */
@media screen and (min-width: 450px) {


}

/*
PORTRAIT TABLET OR BIG PHONE
 */
@media screen and (min-width: 650px) {

}

/*
LARGE / LANDSCAPE TABLET
 */
@media screen and (min-width: 850px) {


}

/*
LAPTOPS / DESKTOPS
 */
@media screen and (min-width: 992px) {


}

/*
 LARGE LAPTOPS / DESKTOPS
 */
@media screen and (min-width: 1200px) {


	/*Padding between nav items expands*/
	.navbar-nav > li{
		padding-left:50px;
		padding-right:50px;
	}


}

/*
ULTRA WIDE
 */
@media screen and (min-width: 2000px) {



	.navbar-nav > li{
		padding-left:100px;
		padding-right:100px;
	}



}

