/*
Redwood Main CSS File
Angus Goody
27/05/2020
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


:root {

	--redwoodRed: #bb3c5b;
	--redwoodGreyDark: #575757;
	--redwoodGreyLight: #BABABA;

	--headerColour: #FFFFFF;
	--navColour: #ffffff;
	--headerTextColour: #474747;
	--backgroundColour: #F6F6F6;

	--navText: var(--redwoodGreyDark);
	--navTextHover: var(--redwoodRed);

	--buttonHoverGreen: #5fd246;
	--buttonGreen: #4eac3e;

}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
======END OF RESET=========
 */

html, body{
	height: 100%;
}
body{
	font-family: 'Montserrat', sans-serif;
	background-color: var(--backgroundColour);
	color: slategrey;
	display: flex;
	flex-direction: column;
}

/*
------------Wrapper / Content---------
*/

/*All the content in the body*/
#content{
	background-color: var(--backgroundColour);
	flex: 1;
}
#wrapper{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 90px;
	/*background-color: aquamarine;*/
}

/*Allign all the content into center*/
.alignDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*
------------HEADER---------
 */
header{
	background-color: var(--headerColour);
	margin: 0;
}

/*
Logo at top of page
 */
#logoContainer{
	width: 60%;
	margin: 0 auto 0 auto;
	padding: 10px 0 10px 0;
	text-align: center;
}
#logoContainer img{
	width: 40%;
	max-width: 150px;
	min-width: 85px;
	height: auto;

}

/*
---------NAV (MOBILE)------
 */
nav{
	background-color: var(--navColour);
	/*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Avenir Next Medium', sans-serif;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);

}

nav ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}


nav ul li{
	padding: 15px;
}

nav ul li a{
	font-weight: normal;
	font-size: 1.1rem;
	color: var(--navText);
	text-decoration: none;
}

nav ul li a:hover{
	color: var(--navTextHover);;
}

/* Hide the nav bar except first item*/
nav ul li ~ li {
	display: none;
}

#currentNavItem{
	color: var(--redwoodRed);
}
/*Have the current item hover the same colour so it doesnt change*/
#currentNavItem:hover{
	color: var(--redwoodRed);
}


/*
Burger Icon
 */

/* BURGER ANIMATIONS */
.burgerContainer{
	display: inline-block;
	cursor: pointer;
}

.burgerLine1, .burgerLine2, .burgerLine3{
	width: 35px;
	height: 5px;
	background-color: var(--redwoodRed);
	margin: 6px 0;
	transition: 0.2s;
}


.burgerChange .burgerLine1,.burgerChange .burgerLine2,.burgerChange .burgerLine3{
	background-color: #802929;
}
.burgerChange .burgerLine1{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.burgerChange .burgerLine2 {opacity: 0;}

.burgerChange .burgerLine3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}


/*
---------MAIN------
 */
main{

}

/*
---------PAGE HEADING------
 */

.pageHeading{
	font-size: 32px;
	margin-bottom: 40px;
}

/*
---------CONTACT FORM(MOBILE)------
 */

#contactForm{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 10px 0px;
	margin-top: 20px;
	padding: 30px 20px 10px 20px;
	border-top: 2px solid var(--redwoodRed);
	width: 80%;
	max-width: 450px;

}

/*Change all form input styles use input[type=text] to target others*/
#contactForm input[type=text] , #contactForm textarea {
	margin: 10px 20px;
	font-family: "Avenir Next Medium", sans-serif;
	font-size: 1rem;
	padding: 12px 20px;
	/* Remove the styling for IOS devices*/
	-webkit-appearance: none;
}

#contactForm textarea{
	resize: none;
}



#contactForm #submitButton{
	-webkit-appearance: none;
	background-color: var(--buttonGreen);
	border: none;
	font-family: "Avenir Next Medium", sans-serif;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 0.4rem;
	margin: 30px 20px;
	font-size: 1rem;

}

#contactForm #submitButton:hover{
	background-color: var(--buttonHoverGreen);
	cursor: pointer;
}




/*
------------FOOTER---------
*/
footer{
	background-color: var(--redwoodRed);
	flex-shrink: 0;
}

footer h2{
	font-size: 1rem;
	color: #FFFFFF;
	padding: 20px 10px;

}

/*
===========MEDIA QUERIES============
 */


/*
PORTRAIT TABLET OR BIG PHONE
 */
@media screen and (min-width: 500px) {



}

/*
LARGE / LANDSCAPE TABLET
 */
@media screen and (min-width: 850px) {


	/*Change our navigation bar to a standard one*/
	nav ul{
		flex-direction: row;
	}

	nav ul li{

		padding: 20px 5%;
		margin: auto;
	}


	/*Change the wrapper to not fit entire screen (Use margin-left/right to avoid overwrite)*/
	#wrapper{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	/*Change form button to not fill whole screen*/
	#contactForm #submitButton{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
	}

	/*Update form so it does't oversize on big screens and stays in center*/
	#contactForm{
		max-width: 650px;

	}
}

/*
LAPTOPS / DESKTOPS
 */
@media screen and (min-width: 992px) {

	/*Update the contact form for desktop (Not for large iPads bc theyre IOS)*/
	#contactForm input[type=text] , #contactForm textarea {
		-webkit-appearance: textarea;
	}


}

/*
 LARGE LAPTOPS / DESKTOPS
 */
@media screen and (min-width: 1200px) {

	/* Set the maximum spacing for the navigation bar*/
	nav ul{
		max-width: 1200px;
	}

}

/*
ULTRA WIDE
 */
@media screen and (min-width: 2000px) {
	body{
		color: darkorange;
	}

}

